<!DOCTYPE html>
<html>
  <head>
    <title>Pllug | <%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Pllug site</h1>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer></footer>
  </body>
</html>
