<!DOCTYPE html>
<html>
  <head>
    <title>Pllug | <%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="container">
      <header class="page-header">
        <section class="page-header__header-bar">
          <section class="page-container page-header__top-bar">
            <div class="logo">
              <%= image_tag("logo-img.png") %>
              <%= image_tag("logo-title.png") %>
            </div>
            <div class="page-header__right">
              <div class="">
                <div class="search">
                  <input type="text" placeholder="Search" name="name" value="">
                </div>
                <div class="">
                  <span>en</span>
                  <span>ua</span>
                </div>
              </div>
              <nav class="page-header__nav nav">
                <li class="page-header__nav-item">Команда</li>
                <li class="page-header__nav-item">Путівник</li>
                <li class="page-header__nav-item">Блог</li>
                <li class="page-header__nav-item">Контакти</li>
              </nav>
            </div>
          </section>
        </section>
      </header>
      <section>
        <%= yield %>
      </section>
      <footer class="page-footer">
        <section class="footer-wrapper">
          <section class="footer-item">
            info@pllug.org.ua
          </section>
          <section class="footer-item">
            <%= image_tag('footer-facebook.png') %>
          </section>
          <section class="footer-item">
            &copy; 2013 PLLUG Community
          </section>
        </section>
      </footer>
    </section>
  </body>
</html>
